@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');
/* Full page layout */
body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  
  background: #d4bebe;
  background-image: url("./assets/background.png");
  font-family: "Pixelify Sans", sans-serif;
}

/* Center all screens */
.start-screen,
.choose-screen,
.pomodoro-screen,
.set-screen,
.running-screen,
.paused-screen,
.done-screen {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

.card {
  background: #E0DDE7;
  border-radius: 16px;
  padding: 14px 12px;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
  text-align: center;
  min-width: 260px;
  border: 2px solid #A09ABC;
}

.digit-row {
  display: flex;
  justify-content: center;
  gap: 6px;
  margin: 12px auto;
  width: fit-content;
}

.digit-box {
  width: 32px;
  height: 40px;
  font-size: 20px;
  text-align: center;
  border-radius: 6px;
  border: 2px solid #c1b4d6;
  outline: none;
}

.digit-box:focus {
  border-color: #8b6db7;
}

.box{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 12px;
  border: 2px solid #c1b4d6;
  border-radius: 10px;
  background-color: #f7e8ef;
}

.menu-button {
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 1000;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}

.sidebar {
  position: fixed;
  right: -400px; /* hidden off-screen */
  top: 0;
  width: 300px;
  height: 100vh;
  background: #f7e8ef;
  box-shadow: -4px 0 12px rgba(0,0,0,0.1);
  transition: right 0.3s ease;
  z-index: 999;
  padding: 20px;
}

.sidebar.open {
  right: 0; /* slide in */
}

.close-btn {
  font-size: 20px;
  background: none;
  border: none;
  cursor: pointer;
}



button {
  padding: 8px 16px;
  margin-top: 12px;
  border: 2px solid #c1b4d6;
  background: #f7e8ef;
  border-radius: 12px;
  cursor: pointer;
  font-family: 'Pixelify Sans', sans-serif;
  font-size: 18px;
  color: #333;
  
}

button:hover {
  background: #f2d9e3;
}

.timer {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 12px;
  color: #333;
}